<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750225342502-8rgtcc8d33orkobq9a47skets6k0in58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750225342502-8rgtcc8d33orkobq9a47skets6k0in58</string>
	<key>API_KEY</key>
	<string>AIzaSyAKjX3QrJtXwZ5D-b7v3ma9a9HJWPINE9w</string>
	<key>GCM_SENDER_ID</key>
	<string>750225342502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.albumDaCopa2022</string>
	<key>PROJECT_ID</key>
	<string>album-qatar</string>
	<key>STORAGE_BUCKET</key>
	<string>album-qatar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750225342502:ios:5479b7536a3eb61258e6e7</string>
</dict>
</plist>